<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<!-- Dit is de content -->
<main>
  <ul>
    <% services.forEach(function(service) { %>
       <li><%= service.title %></li>
       <a href="/service/<%= service.id %>">Initiatief 1</a>
    <% }); %> 
   </ul>
</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>